.body {
    min-height: 100vh;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;;
    justify-content:space-around;
    }

.header-left {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-right {
    font-size: 18px;
}
.header a {
    text-decoration: none;
    color: white;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.header2 {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}

.header2 .sign-up {
    color: red;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid royalblue;
    color: white;
    display: flex;
    margin: 5px;
    width: 100px;
    flex-shrink: 0;
    justify-content: center;
    font-weight: 700;
}

.img-right {
    height: 200px;
    width: auto;
    display: flex;
    flex-shrink: 0;
    margin: 50px;
    display: flex;
    border-radius: 25% 10%;
    overflow:hidden;
}

.container-body {
    border: 4px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information {
    display: flex;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

.cardboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container-body img {
    border-radius: 10px;
    width: 130px;
    height: 100px;
    overflow:hidden;    
}

.container-body img:hover {
    border: 3px solid #3882F6;
}

.card {
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
}

.container-body p {
    margin-top: 0;
}

.inspiring-quote {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #E5E7EB
}

.inspiring-quote .text {
    margin: 5px;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
}

.inspiring-quote .signature {
    flex: 1;
    align-self: end;
    font-weight: 900;
}


