.body {
    min-height: 100vh;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;;
    justify-content:space-around;
    }

.header-left {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-right {
    font-size: 18px;
}
.header a {
    text-decoration: none;
    color: white;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.header2 {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}

.header2 .sign-up {
    color: red;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid royalblue;
    color: white;
    display: flex;
    margin: 5px;
    width: 100px;
    flex-shrink: 0;
    justify-content: center;
}

.img-right {
    width: 300px;
    height: 150px;
    display: flex;
    flex-shrink: 0;
    margin: 50px;
    border: 5px solid green;
}

.container-body {
    border: 10px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.cardboxes {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px;
    justify-content: center;
}

.inspiring-quote .text {
    margin: 5px;
    flex: 1 1 0;
}

.inspiring-quote .signature {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex: 2;
}

.inspiring-quote {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: lightgoldenrodyellow
}
